@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    background-color: #F7F5F2;
    font-family:'Rubik', sans-serif;
    color:#4F4429;
}

header{
    background-color: #C2A87E;
    height: 121px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
    

#logo{
    height: 350px;
    width: 400px;
    margin-left: 50px;
    margin-top: -120px;

}

nav{
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    display: flex;
}

button{
    background-color: #C2A87E;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 30px 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

button:hover{
    background-color: black;
    color: white;
}

button:visited{
    background-color: white;
    color: black;
}