@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #F7F5F2;
    font-family: 'Rubik', sans-serif;
    color: #4F4429;
}

/* LA SECCION DE ENCABEZADOS MARRONCITO */
header{
    background-color: #C2A87E;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* LA BARRA DE MENU */
nav{
    height: 100px;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* ICONO HUELLAS */
.logo{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 10px;
}

/* BOTON DE HAMBURGUESA_ICON */
.burger-btn{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer; /* para que el cursor se transforme en una manita cuando se pase por encima del boton */
    position: absolute;
    top:30px;
    right: 30px; /* para que el boton de hamburguesa se ubique en la esquina superior derecha */
}

/* MENU DESPLEGABLE */
.nav-menu{
    position: fixed; /* para que el menu desplegable se mantenga en la misma posicion aunque se haga scroll */
    width: 100%;
    padding: 0;
    height: 0vh; /* 0vh para que no se vea el menu desplegable hasta que se haga click en el boton */
    top: 100px;
    background-color: black; /* color de fondo del menu desplegable */
    text-align: center; /* para que las opciones del menu se ubiquen en el centro */
    transition: all .5s; /* para que el menu desplegable se despliegue de forma gradual */
}

/* OPCIONES DEL MENU */
.nav-menu li{
    display: none; /* para que no se vean las opciones del menu hasta que se haga click en el boton. PRIMERO ESTA PARTE SE DEJA EN COMENTARIOS PORQUE SINO NO PUEDO VER LAS OPCIONES DEL MENU MIENTRAS LAS HAGO*/
    line-height: 50px; /* espacio entre el techo del texto de las opciones y la barra que lo contiene. */
    margin: 50px 0; /* espacio entre opciones */
    transition: all .5s;
}

/* TEXTO DE CADA OPCION DEL MENU */
.nav-menu li a{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
/*opciones del menu, raton x encima*/
.nav-menu li a:hover {
    background-color: #C2A87E; /* Color de fondo en hover */
    display: block;
    width: 100%;
    height: 50px;
}
/*opcion actual del menu*/
.nav-menu li a.active{
    background-color: #C2A87E; /* Color de fondo en hover */
    display: block;
    height: 50px;
    width: 100%;
}

/* CLIQUEO Y RATON POR ENCIMA */
.nav-menu li a.active, .nav-menu li a:hover{
    color: black;
    transition: all .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}
button{
    font-family: 'Rubik', sans-serif;
    background-color: #C2A87E;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
    margin: 30px 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 10px;
    font-weight: 100;
}

button:hover{
    background-color: black;
    color: white;
}

button:visited{
    color: white;
}
#unirse{
    background-color: black;
    color: white;
}
#unirse:hover{
    background-color: rgba(249, 249, 249, 0.2);
    color: black;
    border: solid 1px black;
}
/* #btn{
    background-color: #C2A87E;
    width: fit-content;
    height: 100px;
    margin-top: 600px;
    margin-left: 250px;

} */


#unirse2{
    background-color: transparent;
    border: #4F4429 solid 2px;
    color: #4F4429;
    font-style: italic;
    margin-top: 600px;
    margin-left: -320px;
}

#unirse2:hover{
    background-color: #4F4429;
    color: white;
}

h1{
    font-size: 51px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 0px;
}
.nosotros{
    margin-top: 200px;
    padding-bottom: 100px;
    padding-top: 30px;
    z-index: 1;
    
}
#parrafo1{
    font-size: 25px;
    font-weight: 300;
    margin-left: 50px;
}
#bombon{
    height: 450px;
    border-radius: 40px;
    float: right;
   margin-top: -110px;
   margin-right: 150px;
}


.mision{

    margin-top: 500px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-left: 0px; 
    padding-top: 100px;
    padding-left: 50px;
    background-color: #E7E2DB;
    height: 100%;
    width: 100%;
    left: 0;
    top: 700px;
    position: absolute;
    text-align: left;
    font-size: 25px;
    font-weight: 300;
    color: #4F4429;
}

#luci{
    width: 26vw;
    height: 416px;
    object-fit: cover; /*para que la img no quede expandida en el círculo, sino contenida dentro del mismo */
    border-radius: 400px;
    float: left;
    margin-left: 180px;
    margin-top: 80px;
    margin-bottom: 100px;
}
