@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    background-color: #F7F5F2;
    font-family:'Rubik', sans-serif;
    color:#4F4429;
}

header{
    background-color: #C2A87E;
    height: 121px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
    

#logo{
    height: 350px;
    width: 400px;
    margin-left: 50px;
    margin-top: -120px;

}

nav{
    float: right;
    margin-top: 15px;
    margin-right: 50px;
    display: flex;
}

button{
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(109, 120, 130);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
/*     display: inline-block; */
    font-size: 20px;
    margin: 30px 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}


main{
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 150px;
}


h1{
    font-size: 51px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 0px;
}

#parrafo1{
    font-size: 25px;
    font-weight: 300;
}
#bombon{
    height: 450px;
    border-radius: 40px;
    float: right;
   margin-top: -110px;
}

.mision{

    margin-top: 300px;
    margin-bottom: 100px;
    margin-left: 0px;
    border-left: 0px; 
    padding-top: 100px;
    padding-left: 50px;
    background-color: #E7E2DB;
    height: 100%;
    width: 100%;
    left: 0;
    top: 700px;
    position: absolute;
    text-align: left;
    font-size: 25px;
    font-weight: 300;
    color: #4F4429;
}

#luci{
    width: 26vw;
    height: 416px;
    object-fit: cover; /*para que la img no quede expandida en el círculo, sino contenida dentro del mismo */
    border-radius: 400px;
    float: left;
    margin-left: 180px;
    margin-top: 80px;
}
