@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;800&display=swap');

body{
    background-color: rgba(231, 229, 204, 0.833);
    font-family: 'Rubik', sans-serif;
}

header{
    background-color: rgba(165, 116, 42, 0.547);
    height: 180px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
    

#logo{
    height: 300px;
    width: 350px;
    margin-left: 50px;
    margin-top: -50px;

}

nav{
    float: right;
    margin-top: 15px;
    margin-right: 50px;
}
/*#menu{
    list-style: none;
    display: inline-block;
}*/

button{
    background: rgba(165, 116, 42, 0.547);
    color: rgb(255, 255, 255);
    
    border: none;
    padding: 10px 40px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: semibold;
    cursor: pointer;
   /* hover: background-color grey;*/
}

main{
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 150px;
}
.nosotros{
    margin: 50px;
    padding: 20px;
    color:#4F4429;
}
#sobre{
    font-size: 51px;
    font-weight: extra-bold;

}
#parrafo1{
    font-size: 25px;
    font-weight: 100;
}
#bombon{
    height: 500px;
    margin: 50px;
}

#mision{
    
}